@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(26, 68, 16);
}
p{
    font-size: 15px;
    color: greenyellow;
}
.topheader{
    height:30vh;
    background-size: auto 100%;
    background-image:url(../images/buttercups-header.jpg);
}
.topheader h1{
    font-size:4vmax;
    font-weight: bold;
    color: greenyellow;
    margin-bottom:0;
    padding-left: 20px;
    padding-top: 10px;
}
.topheader h2{
    font-size:1.5vmax;
    color: greenyellow;
    padding-left:20px;
}
.navbar{
    background: linear-gradient(rgb(55, 136, 37), rgb(86, 207, 72),rgb(55, 136, 37));
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav-link, .dropdown-item{
    font-size: 15px;
}
.dropdown-menu{
    background: linear-gradient(rgb(55, 136, 37), rgb(86, 207, 72),rgb(55, 136, 37));
}
.about h2{
    font-size: 25px;
    font-weight: bold;
    color:greenyellow;
}
.about p{
    font-size: 15px;
    font-weight:normal;
    color:beige;
    padding:15px;
}
.about{
    padding:40px;
    max-width: 900px;
}
// @media screen and (max-width:768px){
//     .topheader h1{
//         font-size:48px;
//     }
//     .topheader h2{
//         font-size:36px;
//     }
// }